@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Lora:italic&display=swap);

@font-face {
	font-family: 'Biryani';
	src: url('../fonts/Biryani-Heavy.woff2') format('woff2'), url('../fonts/Biryani-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

body{
	font-family: "Open Sans";
	color: black;
}

.header-title{
	font-family: "Roboto Slab";
	font-size: 40px;
	text-align: center;
}

h3{
	font-size: 28px;
	font-weight: 300;
}

.content{
	font-size: 18px;
	text-align: center;
	font-style: oblique;
	letter-spacing: 3px;
	line-height: 2;
	color: grey;
}

.image{
	text-align: center;
	text-indent: 0px;
}

.main{
	line-height: 1.7;
	text-indent: 20px;
	text-align: justify;
}

h2{
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: 1px 1px 8px #63BEFF;
	color: #586F80;
}

[class*="quote"]{
	font-style: italic;
	color: grey;
}

.sat-quote{
	font-family: "Lora";
	font-size: 28px;
	color: #63BEFF;
}

.sat-author{
	font-family: "Biryani Heavy";
	text-decoration: underline;
	text-align: right;
	font-size: 20px;
	word-spacing: 10px;
	font-style: italic;
	color: grey;
}

.con-quote{
	text-align: center;
	text-indent: 0px;
	text-decoration: line-through;
	text-transform: capitalize;
}

.footer{
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
}

.footer-away{
	text-decoration: overline;
}