@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap);

[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	padding-top: 365px;
	padding-bottom: 100px;
	color: #E5E5E5;
	background:  #425f71 url("../img/vence_back.png") center / cover no-repeat;
}

.header__text-box{
	max-width: 605px;
}

.header__data{
	margin-bottom: 15px;
}

.header__title{
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	margin-bottom: 15px;
	color: #F8F9FA;
}

.main{
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding-top: 150px;
	padding-bottom: 150px;
	background: #F0F4EB url("../img/plant.jpg") 0 0 / 500px no-repeat fixed;
}

.unorder__container{
	max-width: 1200px;
}

.unorder__title{
	font-weight: 400;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 45px;
}

.unorder__list-block{
	color: #637381;
}

.first-list{
	font-size: 0;
	margin-bottom: 60px;
}

.second-list{
	font-size: 0;
}

.first-list > li, .second-list > li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.first-list__margin, .second-list__margin{
	margin-right: 91px;
}

.first-list__first-margin{
	margin-right: 136px;
}

.first-list__item, .second-list__item{
	font-size: 0;
}

.first-list__item li, .second-list__item li{
	font-size: 16px;
	min-height: 19px;
	max-width: 309px;
	margin-bottom: 18px;
}

.circle li{
	padding-left: 18px;
	background: transparent url("../img/ellipse.svg") 0 5px / 8px no-repeat;
}

.blue-checkmark li{
	padding-left: 29px;
	background: transparent url("../img/blue_checkmark.svg") 0 0 / 19px no-repeat;
}

.green-checkmark li{
	padding-left: 29px;
	background: transparent url("../img/green_checkmark.svg") 0 0 / 19px no-repeat;
}

.cross li{
	padding-left: 29px;
	background: transparent url("../img/cross.svg") 0 0 / 19px no-repeat;
}

.arrow li{
	padding-left: 30px;
	background: transparent url("../img/arrow.svg") 0 5px / 19px no-repeat;
}

.star li{
	padding-left: 28px;
	background: transparent url("../img/star.svg") 0 0 / 18px no-repeat;
}

.footer{
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #637381;
	padding-top: 81px;
	padding-bottom: 83px;
	background: linear-gradient(295deg, rgba(215,224,248,0) 0%, rgba(215,224,248,1) 33%, rgba(215,224,248,0) 33%), linear-gradient(295deg, rgba(230,236,252,0) 0%, rgba(230,236,252,1) 37%, rgba(230,236,252,0) 37%) #F4F7FF;
}

.footer__container{
	max-width: 1200px;
}

.footer__text-box{
	display: inline-block;
	max-width: 570px;
	margin-right: 179px;
	vertical-align: middle;
}

.text-box__text{
	margin-bottom: 35px;
}

.text-box__cost{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #3056D3;
	margin-bottom: 13px;
}

.text-box__title{
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	color: #212B36;
	margin-bottom: 15px;
}

.text-box__button{
	display: inline-block;
	background-color: #3056D3;
	border-radius: 30px;
	color: #FFFFFF;
	height: 44px;
	text-align: center;
}

.text-box__link{
	display: inline-block;
}

.text-box__button a{
	padding: 10px 30px;
}

.footer__image-block{
	display: inline-block;
}

.footer__image{
	vertical-align: middle;
}